{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_admin') }}">Admin Section</a></li>
        You log as Admin of VideoHub
    {% elseif is_granted('ROLE_USER') %}
        <li><a href="{{ path('app_member') }}">Member Section</a>You are log as app.user.email</li>
    {% else %}
        Anonymous
    {% endif %}

    {% for v in video %}
        {% if v.published %}
            <div>
                <ul>
                    <li>{{ v.title }}</li>
                    <li>{{ v.description }}</li>
                    <li>{{ v.createdAt | date("m/d/Y") }}</li>
                    <iframe width=\"560\" height=\"315\" src="{{ v.url }}"></iframe>
                </ul>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}
