{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
    Edit Member  Section
    {% if app.user %}
    {% endif %}
        <ul>
            <li>{{ app.user.username }}</li>
            <li>{{ app.user.firstname }}</li>
            <li>{{ app.user.lastname }}</li>
        </ul>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.newsletter) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit) }}

        {{ form_end(form)}}

{% endblock %}
